.directory
austria/
baden-wuerttemberg/
bayern/
berlin/
brandenburg/
bremen/
de/
hamburg/
hessen/
housenumbervalidator
housenumbervalidator.o
housenumbervalidator.php~
housenumbervalidator.pro.user
htaccess
html/broken.txt
html/dupes.txt
html/htaccess
html/index.html
html/log.txt
html/pit.html
html/reports.txt~
html/stat.html
htusers
incomplete.txt
incomplete.txt~
input.osm.hnr.osm
log.txt
mecklenburg-vorpommern/
niedersachsen/
nordrhein-westfalen/
rheinland-pfalz/
saarland/
sachsen-anhalt/
sachsen/
schleswig-holstein/
thueringen/
